{% extends 'base.html' %}
{% block title %}<title>Team Chess</title>{% endblock %}
{% block body %}
<a href="/">Home</a>

<div>White team: {{team_white_player_names}}</div>
<div>Black team: {{team_black_player_names}}</div>

{% if has_started %}
    <div>The game {{game_id}} has started</div>
{% else %}
    <div>The game {{game_id}} has not started</div>
{% endif %}

{% if display_join_team_buttons %}
<form method="POST">
    <button type="submit" formaction="/join_team_white">Join white team</button>
    <button type="submit" formaction="/join_team_black">Join black team</button>
</form>
{% endif %}

{% if display_quit_team_button %}
<form method="POST">
    <button type="submit" formaction="/quit_team">Quit team</button>
</form>
{% endif %}

{% if display_start_button %}
    <form action="/start" method="POST">
        <button type="submit">Start</button>
    </form>
{% endif %}

<div class="messages" id="messages"></div>
<input type="text" placeholder="Message" name="message" id="message"/>
<button type="button" name="send" id="send-btn" onClick="sendMessage()">Send</button>

<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("messages");

  const createMessage = (name, msg) => {
    const content = `<div>${name}: ${msg} (${new Date().toLocaleString()})</div>`;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.send({ data: message.value });
    message.value = "";
  };
</script>
{% endblock %}
